<?xml version="1.0"?>
<launch>
	<arg name="method" default="reba"/> <!-- gradient or naive -->
	<arg name="optimizer" default="gradient"/> <!-- gradient or evolution -->
	<arg name="arm_constrained" default="False"/>
	<arg name="task" default="receive"/> <!-- receive or welding -->
	<arg name="object_dof" default="0"/>
	<arg name="number_of_points" default="1"/>
	<arg name="savefile" default=""/>
	<arg name="launch_rviz" default="true"/>

	<node pkg="tf" type="static_transform_publisher" name="human_broadcaster" args="0. 0. 0. 0. 0. 0. 1. /base /human/base 100" />
	
	<include file="$(find human_moveit_config)/launch/demo.launch">
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
	</include>
	
	<rosparam command="load" file="$(find human_moveit_config)/tmp/human_length.json" param="human/lengths"/>

	<node name="task_optimizer" pkg="reba_optim" type="task_optimization" output="screen" required="True" args="$(arg method) $(arg arm_constrained) $(arg task) $(arg object_dof) $(arg number_of_points) $(arg savefile) $(arg optimizer)"/>
</launch>